.wp-block-page-header {
    @include no-first-last-margin;

    max-width: width('normal');

    .article__content > & {
        @include layout-margin-bottom(space('layout--small'), space('layout--medium'), null);
    }

    &__inner {
        @include make-container;
        @include layout-padding(space('layout--small'), null, null);

        text-align: center;
    }

    &__heading {
        @include typestyle-h1;

        margin-top: 0;
        margin-bottom: 0;
    }

    &__meta {
        @include typestyle-meta;

        margin-top: space('paragraph');
    }
}
