.article {
    @include no-first-last-margin;

    &__header {
        @include make-container;
    }

    &__content {
        @include layout-margin;
        @include no-first-last-margin;
        @include gutenberg-content;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        // &--skinny {
        //     @include gutenberg-content(
        //         $width: width('skinny'),
        //         $wide: width('normal'),
        //         $gutter: space('gap--small')
        //     );
        // }
    }
}
