.g-card {
    $card: &;

    @include box-shadow;
    @include rounded;

    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include interact {
        &:not(.has-embed) {
            #{$card}__media {
                > * {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__inner {
        padding: space('gap--small');
    }

    &__heading {
        @include typestyle-h5;

        margin-top: 0;

        a {
            &::before {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
            }
        }
    }

    &__meta {
        margin-bottom: space('paragraph');
        color: color('grey');
    }

    &__content {
        @include no-first-last-margin;

        .button {
            position: relative;
            z-index: 2;
        }
    }

    &__media {
        order: -1;

        &::before {
            padding-top: ratio(6, 4);
        }

        > * {
            transition: transition(transform);
        }
    }

    &.has-embed {
        .g-card__media {
            @include responsive-embed;

            z-index: 2;
        }
    }
}
