.wp-block-media-text {
    &__media {
        img {
            @include box-shadow;
            @include rounded;
        }
    }

    .wp-block-media-text__content {
        @include block-padding;
    }
}
