.logos {
    @include layout-margin;

    &.alignfull,
    &.alignwide {
        // Fix overflow issue when the content is full width
        overflow: hidden;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__header,
    &__logos {
        @include no-first-last-margin;

        width: 100%;

        @include mq(large) {
            width: 50%;
        }
    }

    &__header {
        padding-right: space('gap--small');

        .alignfull & {
            padding-left: space('gap--small');
        }
    }

    &__logos {
        // The margin is equal to the width of this element, divided by three
        // as thats how many columns we have, and 25% of that as that is the
        // amount we offset each of the logos up and down by
        $margin: calc(((100% / 3) * 0.25) + 1rem);
        margin-top: $margin;
        margin-bottom: $margin;

        @include mq(large) {
            margin-top: 1rem;
            margin-bottom: 1.75rem;
        }
    }

    &__heading {
        @include typestyle-h2;

        text-align: inherit;
    }

    &__logos-row {
        @include make-row(10px, false, false);

        @include mq(medium) {
            @include make-row(20px, false, false);
        }

        @include mq(xlarge) {
            @include make-row(30px, false, false);
        }
    }

    &__logos-col {
        @include make-column(10px, false, false);

        width: calc(100% / 3);
        margin-top: 10px;
        // Move all the items down a little so we can center everything evenly
        transform: translateY(25%);

        @include mq(medium) {
            @include make-column(20px, false, false);
        }

        @include mq(xlarge) {
            @include make-column(30px, false, false);
        }

        @include mq(medium) {
            margin-top: 20px;
        }

        @include mq(xlarge) {
            margin-top: 30px;
        }

        // Remove the margin from the first 3 items
        &:nth-child(-n+3) {
            margin-top: 0;
        }

        &:nth-child(3n+2), // Pull the middle row up to create the offset effect
        &:nth-child(3n+1):last-child {
            transform: translateY(-25%);
        }

        // The last child is aligned to the left but it needs to be in the center
        &:nth-child(3n+1):last-child {
            position: relative;
            left: 33%;
        }
    }

    &__logo {
        $padding: 25px;

        @include rounded;
        @include box-shadow;

        position: relative;
        background: color('white');

        &::before {
            display: block;
            padding-top: ratio(6, 4);
            content: '';
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            max-width: calc(100% - #{$padding / 2});
            height: auto;
            max-height: calc(100% - #{$padding / 2});
            transform: translateX(-50%) translateY(-50%);

            @include mq(medium) {
                max-width: calc(100% - #{$padding * 2});
                max-height: calc(100% - #{$padding});
            }
        }
    }

    &--reverse {
        .logos__inner {
            @include mq(medium) {
                flex-direction: row-reverse;
            }
        }

        .logos__header {
            padding-right: 0;
            padding-left: space('gap--small');
        }

        &.alignfull {
            .logos__header {
                padding-right: space('gap--small');
            }
        }
    }
}
