@include heading-selectors {
    @include heading-attributes;
}

h1 {
    @include typestyle-h1;
}

h2 {
    @include typestyle-h2;
}

h3 {
    @include typestyle-h3;
}

h4 {
    @include typestyle-h4;
}

h5 {
    @include typestyle-h5;
}

h6 {
    @include typestyle-h6;
}
